body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.avatar {
    width: 30px;
    height: 30px;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}