.no-margin-bottom {
    margin-bottom: 0 !important;
}

#save-btn {
    margin-top: 20px;
}

table {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    font-style: italic;
    margin: 3px;
}

.strong {
    font-weight: bold;
}